#syoken{
    width: 480px;
    height: 403px;
    margin: 0 ;
}
#info2{
    float: left;;
    width: 480px;
}
#wrapper2 {
    width: auto;
    height: auto;
    margin: 0 auto 0 auto;
    background-color: #ffffff;
    overflow: hidden;
}
